PUBLIC_POSTHOG_KEY=phc_BzBUGcL3QBQozyrN8TmwpMZm3aSo9rppD6vtbLDQ5ajN
PUBLIC_POSTHOG_HOST=https://hogxd.aaryanporwal.com
PUBLIC_POSTHOG_UI_HOST=https://eu.posthog.com

POSTHOG_KEY=phc_BzBUGcL3QBQozyrN8TmwpMZm3aSo9rppD6vtbLDQ5ajN
POSTHOG_HOST=https://hogxd.aaryanporwal.com
