.dither-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.dither-container canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
